# build and temporary files
build
h2o
v2.3.0-beta1.tar.gz

# vscode project file
.vscode

# intlij project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings
.pydevproject

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store
openssl-1.1.0f.tar.gz
v2.3.0-beta1.tar.gz.1
v2.3.0-beta2.tar.gz
hxh2o/libs/libcrypto.so.1.1
hxh2o/libs/libssl.so.1.1
hxh2o/libs/libuv.so.1
hxh2o_dist.tgz
hxh2o/libs/libcrypto.so.1.1
hxh2o/libs/libssl.so.1.1
hxh2o/libs/libuv.so.1
dump.rdb
.docker_temp_400146985
